<!DOCTYPE html>

<html lang = "en">
	<head>
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0">

		<title>SpaghettiCannon</title>

		<link rel = "shortcut icon" type = "image/png" href = "SpaghettiCannonLogo.png" />
		<link rel = "stylesheet" type = "text/css" href = "resources/stylesheets/style.css" />
		<link rel = "stylesheet" type = "text/css" href = "resources/stylesheets/theme.css" />
	</head>

	<body>
		header
				h1 SC
					br
					img(src = "SpaghettiCannonLogo.png" width = "50px")

				nav
					- 
						const icons = {
							"weight-outline": "Weight",
							"heart-outline": "Heart",
							"mental-disorders-outline": "Mood",
							"exercise-bicycle-outline": "Exercise",
							"blood-drop-outline": "BP",
							"unhealthy-food-outline": "Junk food",
						}

					each title, icon in icons
						li
							a(href = "#")
								span.icon
									iconify-icon(icon = "healthicons:" + icon)
								span.iconTitle
									= title

		<main>
			<section class = "update">
				<div class = "pagewidth">
					slot#updateBox
				</div>
			</section>

			<section class = "history">
				<div class = "pagewidth">
				history
				</div>
			</section>
		</main>

		<script src = "lib/iconify-icon-2.0.0.min.js"></script>
		<script type = "module" src = "main.ts"></script>
	</body>
</html>
