body {
  font-family: sans-serif;
  margin: 0;
}

header, section {
  padding: 1em;
}

header {
  background-color: #B2CED0;
}

section.update {
  background-color: #95BFC3;
}

section.stats {
  background-color: #81B1B6;
}
